<h2 id="jay-colson-resume"><a href="/resume" title="Jay Colson Résumé"><strong>Jay Colson Resume</strong></a></h2>

<p><a href="/resume" title="Jay Colson Résumé"><strong><em>Technical Enthusiast, Innovator, and Strategist</em></strong></a></p>
<ul>
  <li>Results-driven executive with fifteen+ years of management experience.</li>
  <li>Eager to undertake complex challenges, drive evolution, and deliver superior solutions.</li>
  <li>Over eighteen years of extensive applied knowledge in a plethora of software, technical methodologies, and development and implementation strategies.</li>
  <li>Effective communicator with an innate passion for technology.</li>
</ul>
