---
layout: default
---
{%- assign date_format = "%b %-d, %Y" -%}

<h1> {{ page.title | escape }}</h1>
<h4>{{ page.date | date: date_format }}</h4>
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
(
{% for category in categories %}
<a href="{{site.baseurl}}/category/{{category|slugize}}">{{category}}</a>
{% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
{% endfor %}
)

{{ content }}

{% include share.html %}
<!-- <h2> <a href="../..">Back</a> </h2> -->